@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

body {
    margin: 0;
    font-family: 'Schibsted Grotesk', sans-serif;
    background-color: #1d1d1d;
    color:whitesmoke;
    
}

#logo {
    padding-left: 20px;
}

.navbar {
    display: flex;
    padding-inline: 60px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #0b0b0b;
}

.headbuttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline: 200px;
    background-color: #0b0b0b;
}

.nav {
    font-weight: 900;
    font-size: 1em;
    color: #efefef;
    background-color: #0b0b0b;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    font-size: 1.25em;
}

p{
    font-size: 1.05em;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 1.75em;
}

h4 {
    font-size: 1em;
}

.nav {
    font-weight: 900;
    font-size: 1em;
    color: #efefef;
    background-color: #0b0b0b;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

}

.nav:hover {
    background-color: rgb(10, 96, 193);
}

.columnimage {
    margin: auto;
    height: 15em;
    width: 15em;
    border-radius: 50%;
    background-size: cover;
    object-fit: fill;
}

#mealimg {
    background-image: url("images/meal.jpeg");
}

#mobileimg {
    background-image: url("images/missionmobile.jpeg");
}

#clothingimg {
    background-image: url("images/clothing-program.jpeg"); 
}

.banner {
    margin-top: 2%;
    margin-bottom: 1%;
    padding-inline-end: 20px;
    display: flex;
    background-color: rgb(0, 36, 108);
    color: whitesmoke;
}

.bannerimg {
    height: 400px;
    width: 800px;
    position: relative;
    background-image: url("images/housing-support.jpeg");
    background-size: cover;
    background-position: 50%;
    object-fit: fill;
}

.bannertext {
    margin-left: 5%;
    width: 800px;
    padding-right: 10%;
}

.column {
    float: left;
    width: 20%;
    height: 30em;
    background-color: #343434;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 5%;
    text-align: center;
    justify-content: center;
}

.row {
    background-color: #1d1d1d;
    display: flex;
    justify-content: space-evenly;
    padding-inline: 5%;
    padding-bottom: 2%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

button.schedule {
    font-weight: 900;
    font-size: 1.25em;
    color: #efefef;
    background-color: rgb(10, 96, 193);
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.schedule:hover {
    background-color: rgb(0, 36, 108);
    box-shadow: 5px 5px black;
    text-shadow: #343434 2px 2px;
}

.helpform {
    display: flex;
    background-color: #0b0b0b;
    padding-top: 2%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 7%;
}

.helpformtext {
    width: 50%;
}

form {
    padding-left: 2%;
    padding-top: 5%;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
}

.formsubmit {
    font-weight: 900;
    font-size: 1.25em;
    color: #efefef;
    background-color: rgb(10, 96, 193);
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.formsubmit:hover {
    background-color: rgb(0, 36, 108);
    box-shadow: 5px 5px black;
    text-shadow: #343434 2px 2px;
}

.services {
    padding: 3%;
}

.pdflarge {
    font-weight: 900;
    font-size: 1.25em;
    color: #efefef;
    background-color: rgb(10, 96, 193);
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.pdflarge:hover {
    background-color: rgb(0, 36, 108);
    box-shadow: 5px 5px black;
    text-shadow: #343434 2px 2px;
}

.servpanels {
    display: flex;
}

.panel {
    width: 400px;
    height: 400px;
    background-color: #343434;
    margin: 2%;
    text-align: center;
}

.pdfsmall {
    font-weight: 900;
    font-size: 1em;
    color: #efefef;
    background-color: rgb(10, 96, 193);
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    margin-left: 10px;
}

.pdfsmall:hover {
    background-color: rgb(0, 36, 108);
    box-shadow: 5px 5px black;
    text-shadow: #343434 2px 2px;
}
