@font-face {
    font-family: myFont;
    src: url(Schibsted_Grotesk/SchibstedGrotesk-VariableFont_wght.ttf);
}

body {
    font-family: myfont;
    background-color: #121212;
    color:whitesmoke;
}

#logo {
    padding-left: 20px;
}

.navbar {
    display: flex;
    padding-inline: 60px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #0b0b0b;
}

.headbuttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline: 200px;
    background-color: #0b0b0b;
}

.nav {
    font-weight: 900;
    font-size: 1em;
    color: #efefef;
    background-color: #0b0b0b;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.chances {
    background-image: url(images/wp5204110.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: bottom;
}

/* .chances h1 {
    -webkit-text-stroke: 1px rgb(1, 1, 1);
} */

.chances h2 {
    text-decoration: underline;
    padding-bottom: 30px;
}

.chances button {
    padding: 10px;
    font-size: 2rem;
    transition: ease-out 0.9s;
}

.impact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.impactboxes {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 100px;
    text-align: center;
}

.impactboxes h1 {
    padding-top: 30px;
}

.meals, .shelter, .clients{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:200px;
}

.box{
    /* border: solid 1px black; */
    border-radius: 30px;
    box-shadow: 0px 0px 8px 8px #0b0b0b;
}

.impactboxes > div{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#food, #shelter, #housed {
    border-radius: 30px;
}

button {
    font-weight: 800;
    font-size: 1.25em;
    color: #efefef;
    background-color: rgb(10, 96, 193);
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 36, 108);
    box-shadow: 5px 5px black;
    text-shadow: #343434 2px 2px;
    color: white;
}

.impact {
    padding-top: 50px;
}

.impact h2 {
    padding-bottom: 15px;
}

#life {
    padding-bottom: 50px;
}

.meals:hover {
    transform: scale(1.1);
}

.shelter:hover {
    transform: scale(1.1);
}

.clients:hover {
    transform: scale(1.1);
}

.signup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-inline: 40px;
    background-color: #0b0b0b;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#givingfood {
    border-radius: 20px;
}

.form h1 {
    padding-bottom: 30px;
}

#message {
    padding-bottom: 30px;
}

.footlogo {
    display: flex;
    justify-content: space-between;
    padding-inline: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.socialsfoot {
    cursor: pointer;
}

.foot {
    display: flex;
    justify-content: space-around;
}

.about {
    display: flex;
    flex-direction: column;  
}

.learn {
    display: flex;
    flex-direction: column;
}

.touch {
    display: flex;
    flex-direction: column;
}

.copyright {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.foot h1 {
    color: rgb(10, 96, 193);
}

.foot h2 {
    text-decoration: underline;
    cursor: pointer;
    color: white;
    font-size: 1rem;
}

.titlebackground {
    background-color: #0b0b0b;
}